
@import url('https://fonts.googleapis.com/css?family=Raleway:200');@import url('https://fonts.googleapis.com/css?family=Roboto:100');


body { 
background-image: url('')
}
body, div, a {
    padding:0;
    margin:0;
font-family: 'Roboto', sans-serif;
	color: #555;
}

#calculator {
	background-color: #ddd;
	width: 248px;
	height: 339px;
	margin: 10px auto;
	padding: 10px;
	border-radius:10px;
}


#total {
    height: 70px;
    width: 217px;
    margin:auto;
    background-color:#;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
	padding:15px; 
	padding-top:0px; 
}

#numbers, #operators {
	margin: auto;	
	cursor: pointer; 
}

#operators a {
	display: block;
	width: 65px;
	height: 60px;
	text-decoration: none;
	text-align: center;
	font-size: 35px;
	padding: 0px;
	margin: 1px 0px;
	background-color: #7f8c8d;  
	
		/* lol */ 
	
	display: table-cell;
	width: 40px;
	height: 40px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 25pt;
	padding: 10px;
	margin: 1px 1px;
	background-color: #e67e22; 
	border:0px solid #aaa;

}

#operators a:active{ 
background-color:#f39c12 !important; 
}

#numbers { 
background-color: white; 
	width: 300px; 
}
#numbers a {
	
	display: table-cell;
	width: 40px;
	height: 40px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 25pt;
	padding: 10px;
	margin: 1px 1px;
	background-color: #999; 
	border:0px solid #aaa;
}

#numbers a:active { 
background-color: #bdc3c7; 
}

#operators {
	width: 65px;float:left;margin-right:-3px;
}

a { 
color: #fff !important; 
}
